* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #000000c2;
}
main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    display: inherit;
    align-items: center;
    border-radius: 100%;
    height: 6vh;
    width: 6vh;
    font-size: .5em;
    background-color: blue;
    color: white;
}
.genius {
    display: inherit;
    grid-template-areas: "agreen ared" "ayellow ablue";
    gap: 3%;
    border-radius: 100%;
    height: 75vh;
    width: 75vh;
}
@media screen and (max-width: 100vh) {
    .genius{
        height: 75vw;
        width: 75vw;
    }
}
.green {
    grid-area: agreen;
    background-color: green;
    filter: brightness(50%);
    filter: saturate(50%);
    filter: sepia(50%);
    border-top-left-radius: 100%;
    border-bottom-right-radius: 25%;
}
.red {
    grid-area: ared;
    background-color: red;
    filter: brightness(0%);
    filter: saturate(50%);
    filter: sepia(50%);
    border-top-right-radius: 100%;
    border-bottom-left-radius: 25%;
}
.blue {
    grid-area: ablue;
    background-color: blue;
    filter: brightness(0%);
    filter: saturate(50%);
    filter: sepia(50%);
    border-bottom-right-radius: 100%;
    border-top-left-radius: 25%;
}
.yellow {
    grid-area: ayellow;
    background-color: yellow;
    filter: brightness(0%);
    filter: saturate(50%);
    filter: sepia(50%);
    border-bottom-left-radius: 100%;
    border-top-right-radius: 25%;
}
.selected {
    filter: brightness(100%);
    filter: saturate(100%);
    filter: sepia(0%);
    transform: scale(1.05);
    box-shadow: darkgray 0em 0em .2em .2em;
}
a:active  {
    filter: brightness(100%);
    filter: saturate(100%);
    filter: sepia(0%);
    transform: scale(1.05);
    box-shadow: darkgray 0em 0em .2em .2em;
}